table {
     width: 100%;
     background-color: #c0c0c0;

}


.htmlColHead .jsColHead .jsColHead {
     font-style: italic;
     color: blue;
}

.htmlColHead .jsColHead .jsColHead {
     color: blue;
}


table, th, td {
    border: 1px solid black;
}s
